@charset "utf-8";






/*--------------------------------------------------------------
## BLOG AREA
--------------------------------------------------------------*/
.blog a.blog-btn {
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: auto;
    padding: 12px 10px 16px 10px;
    color: #FFF;
    transition: 0.5s;
    background: #d01919;
    border-radius: 6px;
    font-size: 18px;
}

.blog h5 {
    line-height: 1.2;
}

.blog p.calegory01 {
    background: #ffbf7f;
    color: #FFF;
    padding: 4px 12px 4px 12px;
    width: fit-content;
    font-size: 14px;
}

.blog p.calegory02 {
    background: #bf7fff;
    color: #FFF;
    padding: 4px 12px 4px 12px;
    width: fit-content;
    font-size: 14px;
}

.blog div.card-body.d-flex.flex-column a {
    color: #931212;
}

.blog div.card-body.d-flex.flex-column a:hover {
    text-decoration: underline;
    color: #931212;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

.calegory01.mb-2 {
    background-color: #ffbf7f;
    width: fit-content;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
}

.calegory02.mb-2 {
    background-color: #bf7fff;
    width: fit-content;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
}

.day {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-family: "Roboto", sans-serif;
}

.md.hydrated {
    margin-right: 4px;
    font-size: 20px;
    color: #d01919;
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #d01919;
    border-color: #d01919;
}