@charset "utf-8";






/*--------------------------------------------------------------
## FAQ AREA
--------------------------------------------------------------*/
.ab_accordion {
width: 100%;
}

.ab_accordion_content {
display: none;
}

.ab_accordion_header {
cursor: pointer;
padding: 22px;
font-weight: bold;
margin-top: 10px;
border-radius: 6px;
display: flex;
justify-content: space-between;
background: #f7f7f7;
}

.ab_accordion_header.active {
background-color: var(--main-color);
color: #fff;
display: flex;
justify-content: space-between;
}

.ab_accordion_header.active p {
padding-right: 50px;
}

.ab_accordion_header.active i.fas.fa-chevron-down {
display: flex;
align-items: center;
}

.ab_accordion_header p {
padding-right: 50px;
}

.ab_accordion_header i.fas.fa-chevron-down {
display: flex;
align-items: center;
}

.ab_accordion_content {
padding: 30px;
animation: fade-in-up 0.3s ease-in-out;
background: var(--background-color-light);
border-radius: 6px;
margin-top: 10px;
}

.ab_accordion_header.active i {
transform: rotate(180deg);
}

@keyframes fade-in-up {
0% {
opacity: 0;
transform: translateY(20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}








