@charset "utf-8";






/*--------------------------------------------------------------
## NFOMATION AREA
--------------------------------------------------------------*/
.information-post h1 {
font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
font-weight: 600;
}

.information-post h2.subheadline {
font-size: 24px;
font-weight: 600;
}




.information-post .side-area h1 {
margin: 0 0 20px 0;
position: relative;
padding-bottom: 20px;
font-weight: 700;
font-size: 24px;
}

.information-post .side-area h1::before {
content: "";
background-color: #d01919;
width: 55px;
height: 4px;
position: absolute;
left: 0;
bottom: 0;
border-radius: 10px;
}

.information-post .side-area h1::after {
content: "";
background-color: #f2f2f2;
width: 80%;
height: 4px;
position: absolute;
left: 65px;
bottom: 0;
border-radius: 10px;
}

.information-post .side-area h2 {
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}

.information-post .side-area ul {
list-style: none;
padding-left: 0;
}

.information-post .side-area ul li {
position: relative;
}

.information-post .side-area ul li a {
display: block;
}

.information-post .side-area ul li a span {
position: absolute;
right: 0;
}








