@charset "utf-8";



/*--------------------------------------------------------------
## Register AREA
--------------------------------------------------------------*/

/* .custom-form-container, .card-form-container {
    width: 800px;
    margin: 34px auto 0;
    padding: 20px 50px 50px;
    border-radius: 4px;
    background: #EFEFEF;
}

.custom-form-container h2, .card-form-container h2 {
    padding: 20px 0px;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
}
 
.custom-form-container td, .card-form-container td {
    padding: 20px 0px;
    border-bottom: 1px solid #dcdcdc;
}

.custom-form-container .pd-t {
    padding-top: 20px !important;
}

.custom-form-container .address {
    border-bottom: none;
    padding: 0;
}

.custom-form-container .pd-reset {
    padding: 0;
}

.custom-form-container .col, .card-form-container .col {
    width: 180px;
}

.custom-form-container label, .card-form-container label {
    color: #5a5a5a;
    font-size: 15px;
    margin-right: 10px;
}

.custom-form-container .required, .card-form-container .required {
    color: red;
}

.custom-form-container input[type="text"],
.custom-form-container input[type="tel"],
.custom-form-container input[type="email"],
.custom-form-container input[type="password"],
.custom-form-container input[type="radio"],
.card-form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
}

.custom-form-container input[type="text"]:focus,
.custom-form-container input[type="tel"]:focus,
.custom-form-container input[type="email"]:focus,
.custom-form-container input[type="password"]:focus,
.custom-form-container input[type="radio"]:focus,
.card-form-container input[type="text"]:focus {
    border: 1px solid #23abdd;
    outline: 0;
}

.custom-form-container input[type="radio"], 
.card-form-container input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.custom-form-container a {
    font-size: 13px;
    color: #23ABDD;
    text-decoration: none;
}

.custom-form-container a:hover {
    text-decoration: underline;
}

.custom-form-container .fa-external-link-alt {
    margin-left: 10px;
    opacity: 0.8;
}

.custom-form-container input[name="first-name"], 
.custom-form-container input[name="last-name"], 
.custom-form-container input[name="first-kana"], 
.custom-form-container input[name="last-kana"], 
.custom-form-container input[name="postal_code"], 
.custom-form-container input[name="address1"], 
.custom-form-container input[name="id"], 
.card-form-container input[name="expiry_month"], 
.card-form-container input[name="expiry_year"], 
.custom-form-container input[type="tel"], 
.custom-form-container input[type="password"] {
    width: 40%;
    margin-right: 10px;
}

.btn-container  {
    width: 700px;
    margin: 34px auto 0;
    padding: 20px;
    text-align: center;
}

button {
    width: auto;
    padding: 15px 60px;
    font-size: 14px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background: #555;
} */

.register {
    background-color: #e1e1e1;
}


