@charset "utf-8";






/*--------------------------------------------------------------
## SERVICES AREA
--------------------------------------------------------------*/
.services div.img-area {
    position: relative;
}

.services div.img-area::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background: rgb(232, 69, 69, 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -20px;
    right: -22px;
}

.services div.services-box {
    margin-bottom: 60px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 60px;
}

.services div.services-box:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

.services div.about-inner h2 {
    font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
    font-weight: 600;
    position: relative;
    padding-left: 38px;
}

.services div.about-inner h2 i.fa-regular.fa-circle-dot {
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 4px;
}

.services div.about-inner h3 {
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: 600;
}

.services div.text-area {
    text-align: justify;
}

.box-019 {
    position: relative;
    margin-top: 60px;
    padding: 1.8em 1.5em 1em 1.5em;
    border: 2px solid var(--main-color);
    border-radius: 6px;
}

.box-019>div {
    position: absolute;
    top: -22px;
    left: 10px;
    padding: 8px 40px 10px 40px;
    border-radius: 25px;
    background-color: var(--main-color);
    color: #fff;
}

.box-019>div::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 8px;
    background-color: var(--main-color);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.box-019 p {
    margin: 0;
}

.box-019 ul {
    letter-spacing: 2px;
    padding: 22px 10px 4px 10px;
}

.services div.box-019 ul li {
    text-indent: -18px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}

@media (max-width: 768px) {
    .services div.box-019 ul li {
        text-indent: -18px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .services div.img-area::before {
        display: none;
    }
}