@charset "utf-8";






/*--------------------------------------------------------------
## voice AREA
--------------------------------------------------------------*/
.voice div.voice-inner01 {
padding-left: 40px;
}
@media (max-width: 1199px) {
.voice div.voice-inner01 {
padding-left: 0px;
}
}

.voice div.voice-inner01 h2 {
font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
margin-bottom: 30px;
font-weight: 600;
display: flex;
position: relative;
}

.voice div.voice-inner02 {
padding-right: 40px;
}
@media (max-width: 375px) {
.voice div.voice-inner02 {
padding-right: 0px;
}
}

.voice div.voice-inner02 h2 {
font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
margin-bottom: 30px;
font-weight: 600;
display: flex;
position: relative;
}


.voice .icon-boxes div img {
max-width: 100%;
height: auto;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
padding: 5px;
}
.voice div.voice-inner01 h2 {
font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
margin-bottom: 30px;
font-weight: 600;
display: flex;
position: relative;
}

.voice div.voice-inner h2 a {
height: 36px;
width: 36px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background: var(--button-color);
text-decoration: none;
color: #fff;
text-align: center;
opacity: 0.9;
transition: all .3s ease;
margin-right: 10px;
font-size: 16px;
}

.voice div.voice-inner h2 a:hover {
height: 36px;
width: 36px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: #fff;
text-align: center;
opacity: 0.9;
transition: all .3s ease;
margin-right: 10px;
font-size: 16px;
background: var(--button-hover-color);
}

.voice div.voice-inner h2 span.social-icon {
display: flex;
margin-left: 15px;
position: absolute;
left: 138px;
top: 20px;
}

.voice div.text-area p {
line-height: 1.6;
}

.text-with-line {
position: relative;
display: inline-block;
padding-top: 16px;
}

.text-with-line::before {
content: '';
position: absolute;
top: 0;
width: 50px;
height: 2px;
background-color: var(--main-color);
left: 0;
}

.voice div.text-area h3 {
font-size: 20px;
font-weight: 600;
margin: 20px 0;
}

.voice div.voice-area {
margin-bottom: 60px;
}

.voice div.box dl dt.headline {
font-size: 20px;
}

.voice div.box dl dt.headline i.fa-solid.fa-square-check {
color: var(--main-color);
}

.voice div.access-area {
margin-top: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
}

.voice div.access-area h1.access {
font-weight: 600;
font-size: clamp(1.375rem, 1.33rem + 0.23vw, 1.5rem);
}

.voice div.row.access-area div.col-12.col-xl-4.mb-4 dl dt {
font-size: 18px;
}

.voice div.row.access-area div.col-12.col-xl-4.mb-4 dl dt i {
color: var(--main-color);
}

.voice div.about-inner01 {
padding-left: 40px;
}

.voice div.about-inner02 {
padding-right: 40px;
}

.voice span.social-icon {
margin-left: 24px;
}

.voice span.social-icon a {
color: #d01919;
}

.voice span.social-icon a:hover {
color: var(--button-hover-color);
}

.voice div.text-area dl dd {
margin-bottom: 0px;
}

.voice div.text-area p {
text-align: justify;
}






/* ------------------------------------------------
###  voice-listの範囲
------------------------------------------------ */
.balloon-002 {
display: flex;
position: relative;
margin-top: 15px;
padding: 30px 20px;
border-radius: 5px;
background-color: #f4f4f4;
color: #333333;
}

.balloon-002::before {
position: absolute;
top: -15px;
width: 30px;
height: 15px;
background-color: #f4f4f4;
clip-path: polygon(50% 0, 0 100%, 100% 100%);
content: '';
}

.voice div.container div.row.align-items-xl-center.gy-5 div.col-12.content div.row.py-3 div.col-12.col-md-4.mb-3.mb-md-0.aos-init.aos-animate img {
max-width: 100%;
height: auto;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
padding: 5px;
}

.heading01.text-with-line.mb-2 {
font-weight: bold;
font-size: 18px;
}












