@charset "utf-8";






/*--------------------------------------------------------------
## SERVICES AREA
--------------------------------------------------------------*/
.price {
background-color: #f4f4f4;
}

.services .service-item .title {
font-weight: 700;
margin-bottom: 15px;
font-size: clamp(1.125rem, 0.852rem + 1.36vw, 1.875rem);
line-height: 2.2rem;
}

.services .service-item .description {
line-height: 24px;
font-size: 16px;
}

.services .service-item .icon {
width: 493px;
height: auto;
position: relative;
margin-right: 30px;
line-height: 0;
margin-bottom: 12px;
}
@media (max-width: 767px) {
.services .service-item .icon {
width: 100%;
height: auto;
position: relative;
margin-right: 30px;
line-height: 0;
margin-bottom: 20px;
}
}

.services .service-item .icon i {
color: rgba(var(--default-color-rgb), 0.7);
font-size: 56px;
transition: ease-in-out 0.3s;
z-index: 2;
position: relative;
}

.services .service-item .icon::before {
position: absolute;
content: "";
height: 40px;
width: 40px;
background: rgba(var(--accent-color-rgb), 0.3);
border-radius: 50px;
z-index: 1;
bottom: -10px;
right: -18px;
transition: 0.3s;
}
@media (max-width: 767px) {
.services .service-item .icon::before {
position: absolute;
content: "";
height: 40px;
width: 40px;
background: rgba(var(--accent-color-rgb), 0.3);
border-radius: 50px;
z-index: 1;
bottom: -18px;
right: -6px;
transition: 0.3s;
}
}






/*--------------------------------------------------------------
## SCROLLBAR AREA
--------------------------------------------------------------*/
.custom-scrollbar-js,
.custom-scrollbar-css {
height: 333px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
background: #eee;
}

/* カスタムスクロールバーのスタイル */
.custom-scrollbar-css::-webkit-scrollbar {
width: 12px; /* スクロールバーの幅を調整 */
}

.custom-scrollbar-css {
scrollbar-color: #d01919 #f8f9fa; /* スクロールバーの色とトラックの色 */
scrollbar-width: thin; /* スクロールバーの太さを調整（thinまたはauto） */
}







/*--------------------------------------------------------------
## FLOW AREA
--------------------------------------------------------------*/
.flow {
background-color: #f4f4f4;
}

.flow i.fa-solid.fa-calendar-days {
font-size: 30px;
}

.flow i.fa-solid.fa-id-card {
font-size: 30px;
}

.flow i.fa-solid.fa-dumbbell {
font-size: 30px;
}

.flow h1 {
font-size: 20px;
}

.service section.service div.container.flow div.row div.col-md-3 div.d-inline-flex.align-items-center p {
color: #CCC;
font-size: 60px;
font-family: "Inter Tight", sans-serif;
}

.tab-content {
border: 1px solid #CCC;
border-radius: 6px;
padding: 50px 30px;
background-color: #FFF;
}

.nav-link.active {
background-color: #d01919 !important;
padding: 16px;
}

.nav-link {
background-color: #CCC;
color: #FFF;
padding: 16px;
}

.nav-link:hover {
background-color: #d01919 !important;
color: #FFF;
}

.tab-pane.fade.show h2 {
font-size: 18px;
font-weight: bold;
position: relative;
}

.tab-pane.fade.show.active h2.mb-2 span {
position: absolute;
top: 5px;
left: 40px;
}

h2.mb-2 i {
color: #d01919;
}

.nav-item {
position: relative;
}

.nav-item span {
position: absolute;
top: 19px;
left: 58px;
}

/* .tab-pane要素に共通のスタイル */
.tab-pane {
 opacity: 0;
 transition: opacity 0.5s ease-in-out;
}

/* .tab-pane.show要素に適用されるスタイル */
.tab-pane.show {
 opacity: 1;
}





